---
import type { Result } from "~/lib/search";

import BaseLayout from "./BaseLayout.astro";

import PageSection from "~/components/PageSection";
import PageOutline from "~/components/PageOutline.astro";
import Text from "~/components/Text";
import ListItem from "~/components/ListItem";
import SearchWrapper from "~/components/SearchWrapper";

import Book from "~/icons/Book";
import Edit from "~/icons/Edit";

import { DOCS_SIDEBAR, GITHUB_EDIT_URL } from "~/config";
import { categorizeSidebar } from "~/lib/docs";

import "~/styles/markdown.css";

const { content = {} } = Astro.props;

const currentPath = new URL(Astro.request.url).pathname.split("en")[1] || "/";
const currentFile = `src/pages/docs/en${currentPath.replace(/\/$/, '') || "/index"}.md`;

const sidebarCategories = categorizeSidebar(DOCS_SIDEBAR);
const currentCategory = sidebarCategories.find(section => section.children.some(item => item.path === currentPath));
const currentPage = currentCategory?.children.find(item => item.path === currentPath);

async function getDocs(lang: string): Promise<Result[]> {
    const pages = await Astro.glob(`~/pages/docs/**/*.md`);
    const localizedPages = pages.filter(page => page.url.includes(`/${lang}/`));

    return localizedPages?.map(page => {{
        const path = page.url.split(`/docs/${lang}`)[1] || "/";
        const sidebarCategory = sidebarCategories.find(section => section.children.some(item => item.path === path));
        const sidebarPage = sidebarCategory?.children.find(item => item.path === path);

        return {
            content: page.rawContent(),
            name: sidebarPage.name,
            title: page.frontmatter.title,
            category: sidebarCategory.name,
            path
        }
    }});
}

const docs = await getDocs("en");
---
<Code code={`const foo = 'bar';`} lang="js" />

<BaseLayout
    title={`Kernel - Docs - ${content.title}`}
    type="article"
    description="Kernel gives you full control over electron applications with powerful custom JavaScript packages and APIs for tinkering."
>
    <script slot="head" type="module">
        // Scrollable codeblocks a11y fix
        for (const element of document.getElementsByTagName("pre")) {
            element.setAttribute("tabindex", 0);
        }
    </script>

    <PageSection class="kernel-docs-wrapper">
        <header class="kernel-docs-header">
            <div class="kernel-docs-header-info">
                <Book class="kernel-docs-header-icon" />
                <Text variant="title" class="kernel-docs-header-breadcrumb">
                    {currentCategory?.name}
                        <span class="kernel-breadcrumb-separator">{" > "}</span>
                    {currentPage?.name}
                </Text>
            </div>
            <div class="kernel-docs-header-actions">
                <a
                    href={GITHUB_EDIT_URL + currentFile}
                    target="_blank"
                    rel="noreferrer noopener"
                    class="kernel-docs-header-action"
                    title="Edit this page on GitHub"
                >
                    <Edit />
                </a>
                <SearchWrapper
                    client:load
                    items={docs}
                    placeholder="Search Docs"
                />
            </div>
        </header>
        <div class="kernel-docs-splitter">
            <aside class="kernel-docs-sidebar">
                <nav>
                    {sidebarCategories.map(({ name, path, header, children }) => (
                        !header ? (
                            <ListItem
                                aria-current={`${currentPath === path ? 'page' : 'false'}`}
                                selected={currentPath === path}
                                href={`/docs/en${path}`}
                            >
                                {name}
                            </ListItem>
                        ) : (
                            <ul class="kernel-docs-sidebar-category">
                                <Text
                                    class="kernel-docs-sidebar-header"
                                    variant="title"
                                    tag="li"
                                    role="presentation"
                                >
                                    <strong>{name}</strong>
                                </Text>
                                {children.map(({ name, path }) => (
                                    <ListItem
                                        aria-current={`${currentPath === path ? 'page' : 'false'}`}
                                        selected={currentPath === path}
                                        href={`/docs/en${path}`}
                                    >
                                        {name}
                                    </ListItem>
                                ))}
                            </ul>
                        )
                    ))}
                </nav>
            </aside>
            <article id="content" class="kernel-docs-content kernel-markdown-body">
                {content.title && (
                    <Text tag="h1" variant="title" class="kernel-docs-page-title">
                        {content.title}
                    </Text>
                )}
                <slot />
            </article>
            <aside class="kernel-page-outline-column">
                <PageOutline
                    title={content.title}
                    headers={content.astro.headers}
                    aria-labelledby="kernel-page-outline-label"
                />
            </aside>
        </div>
    </PageSection>
</BaseLayout>

<style>
    :global(body) {
        display: flex;
        flex-direction: column;
    }

    :global(.kernel-docs-wrapper) {
        flex: 1 1 auto;
    }

    .kernel-docs-header,
    :global(.kernel-docs-wrapper .kernel-page-section-inner) {
        border-start-start-radius: 8px;
        border-start-end-radius: 8px;
    }

    :global(.kernel-docs-wrapper .kernel-page-section-inner) {
        display: flex;
        flex-direction: column;
        block-size: 100%;
        max-inline-size: 1232px;
        background-color: var(--kernel-background-tertiary);
        padding: 0;
    }

    .kernel-docs-header {
        flex: 0 0 auto;
        z-index: 1;
        top: -0.1px;
        position: sticky;
        display: flex;
        align-items: center;
        background-color: var(--kernel-background-primary);
        box-shadow: inset 0 1px 0 var(--kernel-interactive-primary);
        block-size: 48px;
        padding-inline: 24px 12px;
    }

    .kernel-docs-header-info,
    .kernel-docs-header-actions {
        display: flex;
        align-items: center;
    }

    .kernel-docs-header-info {
        flex: 1 1 auto;
        overflow: hidden;
    }

    .kernel-docs-header-breadcrumb {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .kernel-breadcrumb-separator {
        color: var(--kernel-foreground-tertiary);
    }

    .kernel-docs-header-actions {
        margin-inline-start: 8px;
        flex: 0 0 auto;
        gap: 8px;
    }

    .kernel-docs-header-action {
        display: inline-flex;
        flex: 0 0 auto;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        inline-size: 28px;
        block-size: 28px;
        border-radius: 4px;
        border: none;
        background-color: var(--kernel-interactive-primary);
        color: var(--kernel-foreground-secondary);
    }

    .kernel-docs-header-action:hover {
        background-color: var(--kernel-interactive-secondary);
    }

    .kernel-docs-header-action:focus {
        box-shadow: 0 0 0 3px var(--kernel-accent-faded);
    }

    .kernel-docs-header-action :global(svg) {
        fill: currentColor;
        inline-size: 14px;
        block-size: auto;
    }

    .kernel-docs-header-icon {
        flex: 0 0 auto;
        inline-size: 16px;
        block-size: auto;
        fill: currentColor;
        margin-inline-end: 12px;
        color: var(--kernel-accent-primary);
    }

    .kernel-docs-header-actions :global(.kernel-search-bar) {
        background-color: var(--kernel-background-tertiary);
    }

    .kernel-docs-splitter {
        display: flex;
        block-size: 100%;
        min-block-size: 0;
    }

    .kernel-docs-sidebar {
        flex: 0 0 auto;
        inline-size: 260px;
        padding: 12px;
        background-color: var(--kernel-background-secondary);
    }

    .kernel-docs-content {
        overflow-x: auto;
        flex: 1 1 auto;
        padding: 48px;
    }

    .kernel-docs-content :global(*:target) {
        scroll-margin-top: 64px;
    }

    .kernel-docs-content :global(.kernel-docs-page-title) {
        font-size: 36px;
    }

    .kernel-page-outline-column {
        position: sticky;
        top: 48px;
        flex: 0 0 auto;
        align-self: baseline;
        inline-size: 200px;
        padding-inline: 12px;
        padding-block: 24px;
    }

    .kernel-docs-sidebar-category {
        margin: 0;
        padding: 0;
        margin-block-end: 24px;
    }

    .kernel-docs-sidebar-header {
        list-style-type: none;
        padding-inline: 12px;
        padding-block: 6px;
        font-size: 12px;
        text-transform: uppercase;
    }

    @media only screen and (max-width: 1232px) {
        :global(.kernel-docs-wrapper .kernel-page-section-inner),
        .kernel-docs-header {
            border-start-start-radius: 0;
            border-start-end-radius: 0;
        }

        .kernel-docs-header {
            box-shadow: none;
        }

        :global(.kernel-navbar .kernel-navbar-inner) {
            block-size: 56px;
            padding-block: 0;
            padding-inline: 16px;
        }

        .kernel-docs-header-actions :global(.kernel-search-bar) {
            max-inline-size: 36vw;
        }
    }

    @media only screen and (max-width: 960px) {
        .kernel-docs-content {
            padding: 24px;
        }
        .kernel-page-outline-column {
            display: none;
        }
    }

    @media only screen and (max-width: 768px) {
        .kernel-docs-sidebar {
            display: none;
        }

        .kernel-docs-header-actions :global(.kernel-search-bar):focus-within {
            margin: 0 12px;
            transform: translateY(-50%);
            position: absolute;
            inline-size: calc(100% - 24px);
            max-inline-size: 100vw;
            top: 50%;
            left: 0;
        }
    }
</style>